/*
   Jim Hall specific css adds for the Hacker theme
*/

footer h3 {
  left: 0;
  bottom: 0;
  /*width: 90%;*/
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight:300;
  color: #666
}
